<div class="smartphone-view">
  <div class="container">
    <app-svg-component
      [iconPath]="'../../../../assets/images/illustration-phone-mockup.svg'"
    ></app-svg-component>
    <div class="overlay">
      <div class="profile">
        <div class="image">
          <img
            [src]="imageUrl"
            alt="profile image"
            *ngIf="imageUrl$ | async as imageUrl"
          />
        </div>
        <ng-container *ngIf="profileDetails$ | async as profileDetails">
          <div
            class="username"
            [ngClass]="{
              exists:
                profileDetails.firstName.length +
                  profileDetails.lastName.length >
                0
            }"
          >
            {{
              profileDetails.firstName
                | shrinkString : 20: true : profileDetails.lastName
            }}
          </div>
          <div
            class="email"
            [ngClass]="{ exists: profileDetails.email.length }"
          >
            {{ profileDetails.email | shrinkString : 20 : false }}
          </div>
        </ng-container>
      </div>
      <div
        class="links"
        *ngIf="links$ | async as links"
        [ngClass]="{ hideBackground: links && links.length > 5 }"
      >
        <div
          class="link {{ link.platform }}"
          *ngFor="let link of links"
          (click)="onOpenLink(link.linkUrl)"
        >
          <div class="platform-icon">
            <app-svg-component
              [color]="
                link.platform === PLATFORM.FrontendMentor ||
                link.platform === PLATFORM.DevTo
                  ? ''
                  : 'white'
              "
              iconPath="assets/images/platforms/{{ link.platform }}.svg"
              [dimensions]="{ width: '2rem', height: '2rem' }"
            >
            </app-svg-component>
          </div>
          <div class="platform-name">{{ link.platform }}</div>
          <div class="arrow-icon">
            <img
              src="../../assets/images/icon-arrow-right.svg"
              alt="right arrow icon"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
