@import "../../shared/styles/colors.scss";

* {
  transition: all 0.7s;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 2rem 3rem;
  background: $white;
  border-radius: 1rem;

  .icon {
    width: 4rem;
    height: 4rem;

    .small {
      display: unset;
    }

    .large {
      display: none;
    }

    @media (min-width: 599px) {
      width: 10rem;

      .small {
        display: none;
      }

      .large {
        display: unset;
      }
    }

    @media (min-width: 768px) {
      width: 20rem;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .middle-part {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .customize-link,
    .edit-profile {
      padding: 1rem 2.5rem;
      border-radius: 8px;
      transition: all 0.4s;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      cursor: pointer;

      .text {
        font-size: 1.6rem;
        color: $gray;
        font-weight: 600;

        @media (max-width: 560px) {
          display: none;
        }
      }

      svg {
        width: 2rem;
        height: 2rem;
      }

      &.active {
        background-color: $lightPurple;

        .text {
          color: $purple;
        }

        svg path {
          fill: $purple;
        }
      }
    }
  }

  .preview {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
    border: 1px solid $purple;
    border-radius: 8px;
    cursor: pointer;

    img {
      display: unset;
    }

    div {
      display: none;
      font-size: 1.6rem;
      font-weight: 600;
      color: $purple;
    }

    @media (min-width: 560px) {
      padding: 1rem 2rem;

      img {
        display: none;
      }
      div {
        display: unset;
      }
    }
  }
}
