<div class="main-container">
  <div class="preview">
    <app-smartphone-view></app-smartphone-view>
  </div>
  <div class="customize-links-container">
    <div class="page-description">
      <div class="header-text">Customize your links</div>
      <div class="description-text">
        Add/edit/remove links below and then share all your profiles with the
        world!
      </div>
    </div>
    <div class="new-link-button button" (click)="onLinkAdd()">
      + Add new link
    </div>
    <div class="spinner" *ngIf="showSpinner; else linksSection">
      <app-spinner [spinnerType]="'circle'"></app-spinner>
    </div>

    <ng-template #linksSection>
      <div
        class="lets-get-started"
        *ngIf="!(links$ | async)?.length; else links"
      >
        <div class="icon">
          <img src="../../../assets/images/illustration-empty.svg" alt="" />
        </div>
        <div class="header-text">Let’s get you started</div>
        <div class="description-text">
          Use the “Add new link” button to get started. Once you have more than
          one link, you can reorder and edit them. We’re here to help you share
          your profiles with everyone!
        </div>
      </div>
      <ng-template #links>
        <div class="links">
          <app-add-link
            class="link"
            *ngFor="let link of links$ | async; let i = index"
            [link]="link"
            [index]="i + 1"
          ></app-add-link>
        </div>
      </ng-template>
    </ng-template>
    <div class="split-line"></div>
    <div
      class="save-button button"
      [class.disabled]="isSaveDisabled"
      (click)="onSave()"
    >
      Save
    </div>
  </div>
</div>
