@import "../../../shared/styles/colors.scss";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 2rem 3rem;
  background: $white;
  border-radius: 1rem;

  .icon {
    width: 4rem;
    height: 4rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .middle-part {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .customize-link,
    .edit-profile {
      padding: 1rem 2.5rem;
      border-radius: 8px;
      transition: all 0.4s;

      svg {
        width: 2rem;
        height: 2rem;
      }

      &.active {
        background-color: $lightPurple;

        svg path {
          fill: $purple;
        }
      }
    }
  }

  .preview {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
    border: 1px solid $purple;
    border-radius: 8px;
  }
}
