$github: #1a1a1a;
$frontendMentor: #fff;
$twitter: #43B7E9;
$linkedIn: #2D68FF;
$youtube: #EE3939;
$facebook: #2442AC;
$twitch: #EE3FC8;
$devTo: #191919;
$codeWars: #8A1A50;
$freeCodeCamp: #302267;
$gitlab: #EB4925;
$hashNode: #0330D1;
$stackOverflow: #EC7100;
$codePen: #D3B88C;