<div
  class="dropdown"
  tabindex="1239812"
  (click)="toggle($event)"
  (blur)="onFocusOut($event)"
>
  <div class="platform">
    <div class="dropdown-icon">
      <img src="{{ ICON_URL_PREFIX }}/{{ selectedOption }}.svg" />
    </div>
    <span>{{ selectedOption }}</span>
  </div>
  <div class="arrow-icon" [ngClass]="{isOpened}">
    <img
      src="../../../../assets/images/icon-chevron-down.svg"
      alt="dropdown icon"
    />
  </div>
  <ng-container
    [ngTemplateOutlet]="optionsTemp"
    *ngIf="isOpened"
  ></ng-container>
</div>

<ng-template #optionsTemp>
  <div class="options">
    <div
      class="option"
      *ngFor="let option of options"
      (click)="onChooseOption(option, $event)"
      [class.selected]="selectedOption === option"
    >
      <img
        src="{{ ICON_URL_PREFIX }}/{{ option }}.svg"
        alt="{{ ICON_URL_PREFIX }}/{{ option }}"
      />
      <div class="name">
        {{ option }}
      </div>
    </div>
  </div>
</ng-template>
