<div class="preview-header">
  <div class="panel">
    <div class="back-to-editor button" routerLink="/customize/links">
      Back to Editor
    </div>
    <div class="share-link button" (click)="onCopyToClipboard(toastrTemplate)">
      Share Link
    </div>
  </div>
</div>

<div class="spinner" *ngIf="showSpinner; else details">
  <app-spinner [spinnerType]="'circle'"></app-spinner>
</div>
<ng-template #details>
  <div class="details">
    <div class="profile">
      <div class="image">
        <img
          [src]="imageUrl"
          alt="profile image"
          *ngIf="imageUrl; else imagePlaceholder"
        />
        <ng-template #imagePlaceholder>
          <div class="image-placeholder"></div>
        </ng-template>
      </div>
      <div
        class="firstName"
        *ngIf="
          profileDetails && profileDetails.firstName;
          else firstNamePlaceholder
        "
      >
        {{
          profileDetails!.firstName
            | shrinkString : 15 : true : profileDetails!.lastName
        }}
      </div>
      <ng-template #firstNamePlaceholder>
        <div class="firstNamePlaceholder">...</div>
      </ng-template>

      <div
        class="email"
        *ngIf="profileDetails && profileDetails.email; else emailPlaceholder"
      >
        {{ profileDetails!.email | shrinkString : 25 : false }}
      </div>
      <ng-template #emailPlaceholder>
        <div class="emailPlaceholder">...</div>
      </ng-template>
    </div>

    <div class="links" *ngIf="links && links.length; else linksPlaceholder">
      <div
        class="link {{ link.platform }}"
        *ngFor="let link of links"
        (click)="onOpenLink(link.linkUrl)"
      >
        <div class="platform-icon">
          <app-svg-component
            [color]="
              link.platform === PLATFORM.FrontendMentor ||
              link.platform === PLATFORM.DevTo
                ? ''
                : 'white'
            "
            iconPath="../../assets/images/platforms/{{ link.platform }}.svg"
            [dimensions]="{ width: '2rem', height: '2rem' }"
          >
          </app-svg-component>
        </div>
        <div class="platform-name">{{ link.platform }}</div>
        <div class="arrow-icon">
          <img
            src="../../assets/images/icon-arrow-right.svg"
            alt="right arrow icon"
          />
        </div>
      </div>
    </div>
    <ng-template #linksPlaceholder>
      <div class="linksPlaceholder">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </ng-template>

    <div class="logout" (click)="onLogout()">
      <app-svg-component
        [iconPath]="'../../assets/images/logout.svg'"
      ></app-svg-component>
    </div>
  </div>
</ng-template>

<ng-template #toastrTemplate>
  <div class="hotToastContainer">
    <app-svg-component
      [color]="'white'"
      iconPath="../../assets/images/icon-link.svg"
      [dimensions]="{ width: '2rem', height: '2rem' }"
    >
    </app-svg-component>
    <div class="hotToastMessage">
      The link has been copied to your clipboard!
    </div>
  </div>
</ng-template>
<div class="details-background"></div>
<div class="header-background"></div>
<ng-template #logoutModal>
  <div class="logoutModal">
    <h1>Are you sure you want to log out?</h1>
    <div class="buttons">
      <button
        class="cancel button"
        (click)="onCancelModal()"
      >Cancel</button>
      <button
        class="logout button"
        (click)="logOut()"
      >Logout</button>
    </div>
  </div>
</ng-template>