<div class="preview-header">
  <div class="panel">
    <div class="back-to-editor button" routerLink="/customize/links">
      Back to Editor
    </div>
    <div class="share-link button" (click)="onCopyToClipboard(toastrTemplate)">
      Share Link
    </div>
  </div>
</div>

<div class="spinner" *ngIf="showSpinner; else details">
  <app-spinner [spinnerType]="'circle'"></app-spinner>
</div>
<ng-template #details>
  <div class="details">
    <div class="profile">
      <div class="image">
        <img [src]="imageUrl" alt="profile image" />
      </div>
      <div class="firstName">
        {{
          profileDetails!.firstName
            | shrinkString : 15 : true : profileDetails!.lastName
        }}
      </div>
      <div class="email">
        {{ profileDetails!.email | shrinkString : 25 : false }}
      </div>
    </div>
    <div class="links">
      <div
        class="link {{ link.platform }}"
        *ngFor="let link of links"
        (click)="onOpenLink(link.linkUrl)"
      >
        <div class="platform-icon">
          <app-svg-component
            [color]="
              link.platform === PLATFORM.FrontendMentor ||
              link.platform === PLATFORM.DevTo
                ? ''
                : 'white'
            "
            iconPath="../../assets/images/platforms/{{ link.platform }}.svg"
            [dimensions]="{ width: '2rem', height: '2rem' }"
          >
          </app-svg-component>
        </div>
        <div class="platform-name">{{ link.platform }}</div>
        <div class="arrow-icon">
          <img
            src="../../assets/images/icon-arrow-right.svg"
            alt="right arrow icon"
          />
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="btn">
  <button (click)="onLogout()" class="button logout">Log out</button>
</div>

<ng-template #toastrTemplate>
  <div class="hotToastContainer">
    <app-svg-component
      [color]="'white'"
      iconPath="../../assets/images/icon-link.svg"
      [dimensions]="{ width: '2rem', height: '2rem' }"
    >
    </app-svg-component>
    <div class="hotToastMessage">
      The link has been copied to your clipboard!
    </div>
  </div>
</ng-template>
<div class="details-background"></div>
<div class="header-background"></div>
